{{#include}}{{{includes}}}/gl/gl-html-tag.mustache{{/include}}
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{data.title}}</title>

	{{#include}}
		{{{partials}}}/gl/gl-head.mustache
	{{/include}}
</head>
<body>

	{{#include}}
		{{{content}}}/{{{data.name}}}.mustache
	{{/include}}

</body>
