<!DOCTYPE html>
<!--[if IE 9]>          <html class="gl no-js msie lt-ie10" lang="pt-BR"> <![endif]-->
<!--[if IE 10]>         <html class="gl no-js msie" lang="pt-BR"> <![endif]-->
<!--[if gt IE 10]><!--> <html class="gl no-js" lang="pt-BR"> <!--<![endif]-->