// Em caso de dúvidas acesse a documentação completa em: http://goo.gl/dz36Cj

/////////////////
// THEME COLOR //
/////////////////

//Exemplo:
//$theme-main-color: #808078 !default;
//$theme-neutral-color: #333 !default;



///////////////////
// COLOR PALETTE //
///////////////////

// O padrão de nomenclatura para a paleta é: $group-[THEME_NAME]-(dark|light)-[AMMOUNT], ex.:
//   Se a nova cor é uma versão um pouco mais clara que "theme-main-color", o nome deve ser
//   $group-main-light-10
//   Se for mais claro,
//   $group-main-light-20


//   Exemplo:
// $group-lightest: #FFFFFF;
// $group-darkest: #000000;
// $group-main-light10: hsl-diff($theme-main-color, -0.13, 0.81, 6.47) !default; //#654793
// $group-main-dark10: hsl-diff($theme-main-color, -0.28, 1.12, -7.84) !default; //#432F62



//////////////////////
// COLOR EXCEPTIONS //
//////////////////////

// Todas as exceções -- cores que não fazem parte da paleta -- devem ficar aqui. Normalmente as
// exceções são usadas em selos, logos de terceiros, feedback, ou seja, cores que não fazem sentido
// mudar de acordo com o tema.

//Exemplo:
// $button-danger-bg-color: #D9534F !default;
// $button-success-bg-color: #5CB85C !default;



/////////////////
// BASE COLORS //
/////////////////

// Cores base usadas no projeto. O padrão de nomenclatura é
// $base[-STATE]-[COLOR_TYPE]-color(-from|-to), ex.:
//   Cor de borda padrão do projeto:
//   $base-border-color;

// borders and bgs

//Exemplo:
// $base-border-color: $group-neutral-light20 !default;

// text

//Exemplo:
// $base-dark-font-color: $theme-neutral-color !default;


// form

//Exemplo:
// $base-input-font-color: $base-dark-font-color !default;
