
/////////////////////
// FONT TABLE SIZE //
/////////////////////

// Todos os tamanhos de fonte base do projeto devem ser colocados
// aqui. Esta seria a tabela de tamanhos do projeto.

//Exemplo
// $root-font-size: $base-font-size !default; // font-size do HTML root

$base-font-size: 16px !default; // base font é pixel para referência de cálculo.

$gl-font-size-example-list: (
	("base", $base-font-size, $base-font-size),
);



///////////////////
// PROJECT TEXTS //
///////////////////

// Para projetos mais complexos, crie variáveis para agrupar tamanhos,
// de forma que a manutenção ou sobreposição seja fácil.
// Como esta área é opcional, ela pode ser excluída caso não seja necessária.

// header
// $header-title-font-size: $head-font-size !default;
// $header-description-font-size: $lead-font-size !default;

// navigation
// $nav-font-size: $discreet-font-size !default;
// $nav-title-font-size: $content-font-size !default;

// forms
// $base-input-font-size: $discreet-font-size !default;
// $base-button-font-size: $discreet-font-size !default;



//////////////////
// FONT WEIGHTS //
//////////////////

$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$black-font-weight: 900;

$gl-font-weight-example-list: (
	("light", $light-font-weight),
	("regular", $regular-font-weight),
	("medium", $medium-font-weight),
	("bold", $bold-font-weight),
	("black", $black-font-weight)
);



/////////////
// Z-INDEX //
/////////////

// Lista de z-index do projeto com uma diferença de 3
// para que seja possível "empurrar" um elemento para cima
// ou pra baixo caso necessário. Ex.: ($z-index-content + 1)

$behind-z-index: 3;
$content-z-index: 6;
$context-z-index: 9;
$layer-z-index: 11;
$over-z-index: 12;

$gl-z-index-example-list: (
	("behind", $behind-z-index),
	("content", $content-z-index),
	("context", $context-z-index),
	("layer", $layer-z-index),
	("over", $over-z-index)
);



///////////////
// ANIMATION //
///////////////

// speed
$base-anim-duration: .3s;
$slow-anim-duration: $base-anim-duration * 2;
$fast-anim-duration: $base-anim-duration * .5;

$gl-anim-duration-list: (
("base", $base-anim-duration),
("slow", $base-anim-duration),
("fast", $base-anim-duration)
) !default;

// easing (from http://matthewlein.com/ceaser/)
$base-anim-ease: ease;
$in-out-anim-ease: cubic-bezier(.455, .03, .515, .955); // easeInOutQuad
$bounce-anim-ease: cubic-bezier(.68, -.55, .265, 1.55); // easeInOutBack

// delay
$base-anim-delay: .2s;
$slow-anim-delay: $base-anim-delay * 2;
$fast-anim-delay: $base-anim-delay * .5;



///////////////////
// BASE MEASURES //
///////////////////

// Todas as medidas base (padding, margin, etc.) devem ser
// colocados aqui. Variações pequenas podem ser calculadas
// diretamente no módulo. Ex.: $separator-space-size - 3px.

//Exempplo:
// $base-space-size: 10px !default;
// $double-space-size: ($base-space-size * 2) !default;
// $separator-space-size: ($base-space-size * 4) !default;

$gl-spacement-example-list: (
	// ("base", $base-space-size, $base-font-size),
	// ("double", $double-space-size, $base-font-size),
);



//////////
// MISC //
//////////

// Exemplo:
// $img-replacement-text-indent: -9999px !default;
