﻿<h2 id="{{{grid.name}}}" class="gl-header">{{{name}}}</h2>
<p class="gl">
	{{{description}}}
</p>
<div class="gl-example-full">
	<div class="gl-{{{grid.name}}}-grid">
		{{#grid.data}}
		<div class="gl-row">
			{{#.}}
				<div class="gl-col{{{.}}}">
					<div class="gl-content"></div>
				</div>
			{{/.}}
		</div>
		{{/grid.data}}
	</div>
</div>