{{#include}}
	{{{partials}}}/gl/gl-meta-tag.mustache
{{/include}}

	{{#data.css}}
	<link rel="stylesheet" href="{{{url}}}" media="{{media_query}}">
	{{/data.css}}

{{#include}}
	{{{includes}}}/gl/gl-nojs.mustache
{{/include}}

	{{#data.js.core}}
	<script src="{{{.}}}" async defer></script>
	{{/data.js.core}}
	{{#data.js.page}}
	<script src="{{{.}}}" async defer></script>
	{{/data.js.page}}
