	<meta charset="utf-8">
	<meta name="description" content="{{{data.description}}}">
	<meta name="keywords" content="{{{data.keywords}}}">
	<meta name="author" content="{{{data.author}}}">
	<meta name="robots" content="INDEX, FOLLOW">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{#data.favicon}}
	<link rel="shortcut icon" href="{{{data.favicon}}}" />
	{{/data.favicon}}