﻿{{#include}}{{{partials}}}/gl/gl-html.mustache{{/include}}
	<title>{{data.title}}</title>

	{{#include}}
		{{{partials}}}/gl/gl-head.mustache
	{{/include}}

</head>
<body>

	{{#include}}
		{{{partials}}}/gl/gl-nav.mustache
	{{/include}}

	<div class="gl-wrapper">
		<header class="gl">
			<div class="gl-content">
				<h1 class="gl">{{data.title}}</h1>
				<p class="gl">
					{{data.description}}
				</p>
			</div>
		</header>
		<div class="gl-content">

			{{#include}}
				{{{partials}}}/gl/gl-nav-sec.mustache
			{{/include}}

			<div class="gl-content-holder" role="main">

				{{#include}}
					{{{partials}}}/gl/gl-content.mustache
				{{/include}}

			</div>
		</div>
	</div>

	{{#include}}
		{{{includes}}}/gl/gl-foot.mustache
	{{/include}}

</body>
