﻿{{#include}}
	{{{includes}}}/gl/gl-content-head.mustache
{{/include}}

<p class="gl">
	Esta página contém todas as grids registradas no projeto.
</p>

{{#data.gridsystems}}
	{{#include}}
		{{{partials}}}/gl/gl-grid.mustache
	{{/include}}
{{/data.gridsystems}}