﻿{{#include}}
	{{{includes}}}/gl/gl-content-head.mustache
{{/include}}

<h2 class="gl gl-header">
	O que é este documento?
</h2>
<p class="gl">
	A Guideline contém todos os padrões de desenvolvimento front-end do projeto. <br>
	Todos os módulos e páginas "mock-up" do projeto estão disponíveis neste site.
</p>
<p class="gl">
	Todos os estilos definidos pela Guideline não impactam em regras globais de CSS. Em todos os casos as regras são aplicadas através de classes explícitas, como o caso da <code class="gl">.gl</code> com comportamento diferente de acordo com a tag que é aplicada. Algumas variações da classe é usada como prefixo: <code class="gl">.gl-header</code>, <code class="gl">.gl-char-table</code>, etc.
</p>
<p class="gl">
	O site é organizado em algumas categorias como Tipografia, Cores, Grids e Módulos:
</p>
<!--
	// Tipografia //
-->
<h3 id="Tipografia" class="gl">Tipografia</h3>
<p class="gl">
	Todas as famílias tipográficas estão disponíveis aqui, assim como pesos, tamanhos de
	fontes usados no projeto, ícones e regras globais de diagramação de textos.
</p>

<!--
	// Cores //
-->
<h3 id="Cores" class="gl">Cores</h3>
<p class="gl">
	Todas as cores do projeto são lidas do arquivo de cores e listadas de forma que seja possível visualizar qualquer inconsistência.
</p>
<p class="gl">
	Há também um gerador de cores que permite comparar se a nova cor a ser criada é muito parecida com alguma que já existe.
</p>

<!--
	// Grids //
-->
<h3 id="Grids" class="gl">Grids</h3>
<p class="gl">
	Todas as grids criadas para o projeto estão listadas aqui, não só para versões responsivas, mas para situações onde uma nova grade é necessária para suprir necessidades específicas de um layout.
</p>

<!--
	// Módulos //
-->
<h3 id="Módulos" class="gl">Módulos</h3>
<p class="gl">
	Todos os módulos do site e regras base de espaçamento, z-index. Estão organizados por categorias e devem seguem o conceito de atomic design, como disposto na <a href="http://goo.gl/JXVDC7" target="_blank">apresentação</a> sobre o <a href="https://bitbucket.org/fbiz/hyojun.sass-standards/src/HEAD/sass/source/common/modules/" target="_blank">Hyojun.sass-standards</a>.
</p>