﻿{{#include}}
	{{{includes}}}/gl/gl-content-head.mustache
{{/include}}

<!--
	// Unidades //
-->
<h2 id="Unidades" class="gl-header">Unidades</h2>
<p class="gl">
	Unidades base utilizadas no projeto.
</p>

{{#data.spacement.length}}
<!--
	// Espaçamentos //
-->
<h3 id="Espacamentos" class="gl">Espaçamentos</h3>
<p class="gl">
	Valores para espaçamentos (padding e margin) utilizados no projeto. Sempre utilizar estas variáveis nos espaçamentos do projeto.
</p>
<div class="gl-example gl-checkers">
	{{#include}}
		{{{partials}}}/gl/gl-spacement.mustache
	{{/include}}
</div>
<div class="gl-callout-important">
	<p>
		Em casos específicos ou exceções, fazer o cálculo com valores múltiplos aos pré-definidos, ex.: <code class="gl">$base-space-size * 5</code> ou <code class="gl">$base-space-size + gl-to-em(10px, $base-font-size);</code> Sempre centralizando no arquivo <code class="gl">_units.scss</code> conforme <a href="https://bitbucket.org/fbiz/hyojun.sass-standards/src/HEAD/sass/source/common/core/config/#markdown-header-espacamentos" target="_blank">explicado neste documento</a>.
	</p>
</div>
{{/data.spacement.length}}

<!--
	// Z-index //
-->
<h3 id="Z-index" class="gl">Z-index</h3>
<p class="gl">
	Todos os z-index do projeto devem estar centralizados no arquivo <code class="gl">_units.scss</code> para evitar problemas de manutenção. <a href="https://bitbucket.org/fbiz/hyojun.sass-standards/src/HEAD/sass/source/common/core/config/#markdown-header-z-index">Saiba mais neste documento</a>.
</p>
<div class="gl-example">
	{{#include}}
		{{{partials}}}/gl/gl-z-index.mustache
	{{/include}}
</div>
