﻿{{#include}}
	{{{includes}}}/gl/gl-content-head.mustache
{{/include}}

<!--
	// Tabela de caracteres //
-->
<h2 id="Tabela-de-caracteres" class="gl-header">Tabela de caracteres</h2>
<p class="gl">
	Famílias tipográficas usadas no projetos. Note que algumas letras podem não estar disponíveis, normalmente para salvar alguns KB do arquivo final.
</p>


{{#data.char_table}}
	{{#include}}
		{{{partials}}}/gl/gl-chartable.mustache
	{{/include}}
{{/data.char_table}}



<!--
	// Lista de tamanhos //
-->
<h2 id="Lista-de-tamanhos" class="gl-header">Lista de tamanhos</h2>
<p class="gl">
	Todos os <code class="gl">font-size</code> devem usar as variáveis definidas em <code class="gl">_units.scss</code>. Veja que o <code class="gl">$gl-base-font-size</code> é usado apenas como referência para cálculos de medidas. É aconselhável que a aplicação das medidas no projeto seja feita proporcional, ex.: em <code class="gl">em</code> ou <code class="gl">rem</code>.
</p>
<div class="gl-example">
	{{#include}}
		{{{partials}}}/gl/gl-font-size.mustache
	{{/include}}
</div>



<!--
	// Lista de pesos //
-->
<h2 id="Lista-de-pesos" class="gl-header">Lista de pesos</h2>
<p class="gl">
	Todos os pesos (<code class="gl">font-weight</code>) de fontes devem usar estas variáveis para garantir uniformidade nos valores.
</p>
<div class="gl-example">
	{{#include}}
		{{{partials}}}/gl/gl-font-weight.mustache
	{{/include}}
</div>
